body {
    font-family: sans-serif;
    transition: background-color 0.3s ease;
}
.temaClaro {
    background-color: rgb(188, 228, 255);
    color: rgb(34, 34, 34);
}

.temaEscuro {
    background-color:rgb(34, 34, 34);
    color: rgb(188, 228, 255);
}